
$box-radius: 0px;
$family-serif: "Inter";
$family-primary: $family-serif;
$background-dark: #1E1E1E;
$border-grey: #292929;
$column-grey: #212121;

@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Inter');

html {
	overflow: hidden;
}

body {
	min-height: 100vh;
	padding: 0px;
	background-color: $background-dark;
}

.is-transparent {
	background-color: transparent;
}

.has-background-dark {
	background-color: $background-dark;
}

.has-background-1D1D1D {
	background-color: #1D1D1D;
}

.has-border-grey {
	border: 1px solid grey;
}

.circular {
	border-radius: 50%;
}

.has-background-light-grey {
	background-color: #EBECEF;
}

.has-background-212121 {
	background-color: #212121;
}

.has-bottom-border-grey {
	border-bottom: 1px solid #292929;
}

.has-background-474A54 {
	background-color: #474a54;
}

.has-border-dark {
	border: 1px solid $border-grey;
}

.has-border-white {
	border: 1px solid white;
}

.inline {
	display: inline;
}

.high-priority {
	background-color: rgba(90, 0, 0, 0.902);
}

.medium-priority {
	background-color: rgb(198, 128, 0);
}

.low-priority {
	background-color: rgb(0, 81, 0);
}

.icon {
	height: 25px;
	width: 25px;
}

.rounded {
	border-radius: 0.3em;
}